.Post {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.Post__Form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 25%;
  height: 60%;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #ddd;
}

.Post__Header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: auto;
}

.Post__HeaderAvatar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 50px;
  width: 50px;
  transform: translateY(-50%);
  margin-right: 45%;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 10px 2px #ddd;
}

.Post__HeaderTitle {
  font-size: 2rem;
  font-weight: bold;
}

.Post__Description {
  height: 75%;
  font-size: 2rem;
}

.Post__Button {
  margin-top: auto;
}
