.Profile {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.Profile__Card {
  width: 40%;
  margin-top: 50px;
  padding: 2em;
}

.Profile__UserInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
}

.Profile__Avatar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.Profile__UserAvatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.Profile__UserAvatar:hover {
  opacity: 0.9;
}

.Profile__AvatarMenu {
  position: absolute;
  top: 0;
  right: -85%;
  display: flex;
  flex-direction: column;
}

.Profile__AvatarAction {
  padding: 1em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.Profile__AvatarAction:hover {
  opacity: 0.9;
}

.Profile__AvatarActions_Add {
  background-color: green;
}

.Profile__AvatarActions_Delete {
  margin-top: 10px;
  background-color: red;
}

.Profile__AvatarPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.Profile__AvatarPreviewClose {
  position: absolute;
  top: -15px;
  right: -25%;
  font-size: 3rem;
  color: red;
  cursor: pointer;
}

.Profile__AvatarPreviewClose:hover {
  opacity: 0.5;
}

.Profile__AvatarAcceptBtn {
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
}

.Profile__Name {
  width: 80%;
  margin: 10px 0;
  font-size: 3rem;
}

.Profile__UserEmail {
  width: 80%;
  margin: 10px 0;
  font-size: 2.5rem;
}

.Profile__UserStats {
  width: 80%;
  font-size: 2rem;
}

.Profile__StatItem {
  margin-right: 10px;
}

.Hidden {
  display: none;
}

input[type='file'] {
  display: none;
}
