.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.Profile__Card {
  width: 40%;
  margin-top: 50px;
  padding: 4em;
  border-bottom: 1px solid black;
}

.Profile__UserInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
}

.Profile__Avatar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 10px 2px #ddd;
}

.Profile__UserAvatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.Profile__UserAvatar:hover {
  opacity: 0.9;
}

.Profile__AvatarMenu {
  position: absolute;
  top: 50%;
  right: -100%;
  display: flex;
  flex-direction: column;
  width: 200%;
  transform: translate(70%, -50%);
  background-color: #fff;
  border-radius: 3px;
  padding: 0.5em;
  box-shadow: 0px 0px 10px 2px #ddd;
}

.Profile__AvatarMenuIcon {
  margin-right: 7px;
  font-size: 2rem;
}

.Profile__AvatarAction {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.Profile__AvatarAction:hover {
  background-color: #eee;
}

.Profile__AvatarActions_Delete {
  background-color: transparent;
  border: none;
}

.Profile__AvatarPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
}

.Profile__AvatarPreviewClose {
  position: absolute;
  top: -15px;
  right: -25%;
  font-size: 3rem;
  color: red;
  cursor: pointer;
}

.Profile__AvatarPreviewClose:hover {
  opacity: 0.5;
}

.Profile__AvatarAcceptBtn {
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
}

.Profile__Name {
  width: 80%;
  margin: 10px 0;
  font-size: 3rem;
}

.Profile__UserEmail {
  width: 80%;
  margin: 10px 0;
  font-size: 2.5rem;
}

.Profile__UserStats {
  width: 80%;
  font-size: 2rem;
}

.Profile__StatItem {
  margin-right: 10px;
}

.Profile__FollowBtn {
  margin-top: 1em;
  width: 12%;
  font-weight: bold;
}

.Profile__Posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 40%;
  margin-top: 3em;
}

.Hidden {
  display: none;
}

input[type='file'] {
  display: none;
}
