@import url('../config/main-colors.css');

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding-top: 30px;
  background-color: var(--background);
}

.Home__SelectWraper {
  display: flex;
  align-items: center;
  width: 33%;
  min-width: 340px;
  margin-bottom: 2em;
}

.Home__Select {
  width: 100%;
  background-color: var(--main);
  font-size: 1.6rem;
}

.Home__SelectOption {
  padding: 1em;
  font-size: 1.4rem;
  cursor: pointer;
}

.Home__SelectOption:hover {
  background-color: #eee;
}

@media (max-width: 1440px) {
  .Home__SelectWraper {
    width: 40%;
  }
}

@media (max-width: 1280px) {
  .Home__SelectWraper {
    width: 45%;
  }
}

@media (max-width: 1000px) {
  .Home__SelectWraper {
    width: 50%;
  }
}

@media (max-width: 667px) and (orientation: landscape) {
  .Home__SelectWraper {
    width: 70%;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .Home__SelectWraper {
    width: 70%;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .Home__SelectWraper {
    width: 95%;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .Home__SelectWraper {
    min-width: 300px;
  }
}
